<div class="jumbotron">
  <h1 class="title">家教招聘网</h1>
  <p class="slogan">家教招聘网 是一个连接在校大学生和需要辅导的小学，初中，高中生的网站。
  <br>
  我们希望藉由这个网站，能让在校大学生可以挣取一份可观的薪水；
  <br>
   同时让需要辅导的学生找到称职的家教。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>
<%= render :partial => "jobs/search_bar" %>

<section class="odd">
  <div class="section-content other">
    <h2 class="section-title">听听大家怎么说！</h2>
    <div class="col-3 home-people clearfix">
      <div class="item person fl">
        <div class="avata-wrapper">
          <img class="avata" src="http://ww1.sinaimg.cn/large/006tNbRwgy1fetj7fqr2hj30gi0i4agc.jpg">
        </div>
        <div class="intro clearfix">
          <div class="name">
            Kelly（英文专业，大学生）
          </div>
        </div>
        <div class="words">
          <span class="bg"></span>
          <span class="fa fa-quote-left quote quote-l iconfont"></span>
          <span class="fa fa-quote-right quote quote-r iconfont"></span>
          <div class="content">在家教招聘网找到了稳定的家教工作，通过教别的孩子，我的学习能力反而提高了!</div>
        </div>
      </div>
      <div class="item person fl">
        <div class="avata-wrapper">
          <img class="avata" src="http://ww3.sinaimg.cn/large/006tNbRwgy1fetjq18ms7j30im0fu4cb.jpg">
        </div>
        <div class="intro clearfix">
          <div class="name">
            王先生夫妇（中学生家长）
          </div>
        </div>
        <div class="words">
          <span class="bg"></span>
          <span class="fa fa-quote-left quote quote-l iconfont"></span>
          <span class="fa fa-quote-right quote quote-r iconfont"></span>
          <div class="content">通过家教招聘网，让我们给孩子找到了称职的家教，孩子成绩提高了，我们自然高兴</div>
        </div>
      </div>
      <div class="item person fl">
        <div class="avata-wrapper">
          <img class="avata" src="http://ww4.sinaimg.cn/large/006tNbRwgy1fetk34cpxwj30b40f7jrr.jpg">
        </div>
        <div class="intro clearfix">
          <div class="name">
            王强（高中生）
          </div>
        </div>
        <div class="words">
          <span class="bg"></span>
          <span class="fa fa-quote-left quote quote-l iconfont"></span>
          <span class="fa fa-quote-right quote quote-r iconfont"></span>
          <div class="content">来自家教招聘网的老师，不仅教我具体的英文语法知识，她还通过认知心理学教我如何去学习，太赞了</div>
        </div>
      </div>
    </div>
  </div>
</section>
