

<footer class="container" style="margin-top: 100px;">

<section class="footer-nav">
   <div class="columns">
   		<div class="row">
   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   				<div class="row">
   					<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
   						<ul class="column">
                  <h2>我&nbsp;们</h2>
                  <li><a href="#">使命</a></li>
                  <li><a href="#">愿景</a></li>
              </ul>
   					</div>
   					<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
   						<ul class="column">
                  <h2>链&nbsp;接</h2>
                  <li><a href="#">新生大学</a></li>
                  <li><a href="#">全栈营</a></li>
                  <li><a href="#">知笔墨</a></li>

              </ul>
   					</div>
   					<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
   						<ul class="column">
                  <h2>支&nbsp;持</h2>
                 <li><a href="#">交流论坛</a></li>
                 <li><a href="#">用户反馈</a></li>
              </ul>
   					</div>
   					<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
   						<ul class="column">
                  <h2>更&nbsp;多</h2>
                  <li><a href="#">联系我们</a></li>
                  <li><a href="#">隐私声明</a></li>
                  <li><a href="#">法律条款</a></li>
              </ul>
   					</div>
   				</div>
   			</div>


   		</div>
   </div>
</section>
<p class="text-center"> Copyright 2017 家教招聘网
  <br>Design by Bruce
</p>
</footer>
